<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307739119355-1esa5192iiq2vl8rf9v8a5887vladgjv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307739119355-1esa5192iiq2vl8rf9v8a5887vladgjv</string>
	<key>API_KEY</key>
	<string>AIzaSyBF4apv9ctCG2KJxpcKHQuecUTyN_Lwq2E</string>
	<key>GCM_SENDER_ID</key>
	<string>307739119355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.firebase.example.flutterfirestore</string>
	<key>PROJECT_ID</key>
	<string>bandnames-9eff6</string>
	<key>STORAGE_BUCKET</key>
	<string>bandnames-9eff6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307739119355:ios:c8128982062af10b3f6a5e</string>
</dict>
</plist>